﻿@model DDD.Entidades.Auto

@{
    ViewBag.Title = "EliminarAuto";
    Layout = "~/Views/General/_Layout.cshtml";
}

	<div class="container d-flex flex-column justify-content-center h-100 ">
		<h2 class="text-center m-3">DETALLE AUTO</h2>
		<div>
			<dl class="dl-horizontal text-center card pb-0 pt-3 pb-3">
				<dt>
					@Html.DisplayNameFor(model => model.Placa)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Placa)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.Modelo)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Modelo)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.Año)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Año)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.idMarca)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.idMarca)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.nombreM)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.nombreM)
				</dd>

			</dl>
			<div class="form-group">
				<div class="col-md-offset-2 d-flex justify-content-center">
					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()
						@Html.HiddenFor(model => model.idAuto)

						<input type="submit" value="Delete" class="btn btn-outline-danger" />
						@Html.ActionLink("Volver al Listado", "ListarAutos", null, new { @class = "btn btn-outline-primary" })
					}
				</div>
			</div>
		</div>
	</div>
