﻿@model IEnumerable<DDD.Entidades.Auto>

@{
	ViewBag.Title = "ListarAutos";
	Layout = "~/Views/General/_Layout.cshtml";
}

<h2 class="text-center">AUTOS</h2>

@Html.ActionLink("Nuevo Auto", "RegistrarAuto", null, new { @class = "btn btn-primary mb-3" })



<table class="table table-bordered">
	<thead class="thead-dark">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.idAuto)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.nombreM)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Modelo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Placa)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Año)
			</th>
			<th></th>
		</tr>
	</thead>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.idAuto)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.nombreM)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Modelo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Placa)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Año)
			</td>
			<td>
				@Html.ActionLink("Editar", "EditarAuto", new { id = item.idAuto }) |
				@Html.ActionLink("Detalles", "VerAuto", new { id = item.idAuto }) |
				@Html.ActionLink("Eliminar", "EliminarAuto", new { id = item.idAuto })
			</td>
		</tr>
	}

</table>
