﻿* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	overflow: hidden;

}

.page {
	height: 100%;
	background-color: #584E4A;
}

.content {
	width: 100%;
	height: 200vh;
	min-height: 100vh;
	transform-origin: top left;
	transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1),filter 1s;
	background-color: #f2f2f2;
	position: relative;
}
.content_inner {
	height: 50%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 50px 20%;
}

.shazam .content_inner {
	filter: opacity(25%);
}

/* basically all styling from now on */
.menu_toggle {
	z-index: 900;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	cursor: pointer;
	width: 100px;
	height: 80px;
	background-color: #F37272;
	border-bottom-right-radius: 100%;
}

	.menu_toggle:active i {
		opacity: 0.8;
	}

	.menu_toggle i {
		color: #f0f0f0;
	}

	.menu_toggle .menu_open,
	.menu_toggle .menu_close {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -15px;
		margin-left: -12px;
		-webkit-transition: -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
		transition: -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
		transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
		transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1), -webkit-transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
	}

	.menu_toggle .menu_open {
		-webkit-transform-origin: -100px -100px;
		transform-origin: -100px -100px;
	}

	.menu_toggle .menu_close {
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
		-webkit-transform-origin: -100px -160px;
		transform-origin: -100px -160px;
	}

.menu_items {
	position: fixed;
	bottom: 0;
	left: 50px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

	.menu_items li {
		height: 60px;
		margin-bottom: 30px;
		transform: translateX(-400px);
		transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
	}

		.menu_items li:nth-child(2) {
			margin-left: 40px;
		}

		.menu_items li:nth-child(3) {
			margin-left: 80px;
		}

	.menu_items a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #a4a4a4;
		-webkit-transition: color .2s;
		transition: color .2s;
		height: 2rem;
		display:flex;
		align-items:center;
		font-size: 20px;
	}

		.menu_items a .icon {
			position: relative;
			display:flex;
			align-items:center;
			margin-right: 25px;
			color: #f0f0f0;
			height:100%;
			font-size: 20px;
		}

			.menu_items a .icon:after {
				position: absolute;
				top: 50%;
				left: 50%;
				content: '';
				display: block;
				width: 60px;
				height: 60px;
				margin-left: -33px;
				margin-top: -32px;
				border-radius: 100%;
				border: 2px solid #f0f0f0;
				transition: border-color .2s;
			}

	.menu_items li .dropdown-links {
		position: absolute;
		right: -300px;
		top: -150px;
		border: 1px solid #6D758A;
		border-radius: 7px;
		transform: scaleY(0);
		transform-origin: bottom;
		transition: transform .3s, opacity .3s;
		opacity: 0;
		z-index: 999999;
	}
		.menu_items li .dropdown-links.active {
			transform: scaleY(1);
			opacity: 1;
		}

		.menu_items li .dropdown-links a{
			display:flex;
			align-items:center;
			padding: 1rem;
			height: 3rem;
			width: 300px;
		}

		hr{
			background:white;
			margin: 0;
		}

		.menu_items a:hover {
			color: #f0f0f0;
		}

			.menu_items a:hover .icon:after {
				border-color: #F37272;
			}

		.menu_items a:active .icon {
			color: #F37272;
		}



	.shazam .content {
		-webkit-transform: rotate(-30deg);
		transform: rotate(-30deg);
	}

	.shazam .menu_open {
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}

	.shazam .menu_close {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	.shazam .menu_items li {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: -webkit-transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition: -webkit-transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}

		.shazam .menu_items li:nth-child(2) {
			-webkit-transition-delay: .47s;
			transition-delay: .47s;
		}

		.shazam .menu_items li:nth-child(3) {
			-webkit-transition-delay: .48s;
			transition-delay: .48s;
		}


.slideshow {
	padding-top: 50px;
	height: 400px;
	width: 100%;
	background-color: #f2f2f2;
	box-sizing: border-box;
	position: fixed;
	left: 0;
	top: calc(100vh / 5);
	right: 0;
}


@media screen and (min-width : 1400px){
	.slideshow {
		top: calc(100vh / 3);
	}
}

.skills-container {
	margin: auto;
	width: 190px;
	perspective: 700px;
	position: relative;
	padding-top: 80px;
}

.skills-carousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: skills-animate 30s infinite linear;
	transform-style: preserve-3d;
}

	.skills-carousel:hover {
		animation-play-state: paused;
		cursor: pointer;
	}


	.skills-carousel figure {
		width: 100%;
		height: 140px;
		border: 1px solid #3b444b;
		overflow: hidden;
		position: absolute;

	}

		.skills-carousel figure:nth-child(1) {
			transform: rotateY(0deg) translateZ(350px);
		}

		.skills-carousel figure:nth-child(2) {
			transform: rotateY(32.7deg) translateZ(350px);
		}

		.skills-carousel figure:nth-child(3) {
			transform: rotateY(65.4deg) translateZ(350px);
		}

		.skills-carousel figure:nth-child(4) {
			transform: rotateY(98.1deg) translateZ(350px);
		}

		.skills-carousel figure:nth-child(5) {
			transform: rotateY(130.8deg) translateZ(350px);
		}

		.skills-carousel figure:nth-child(6) {
			transform: rotateY(163.5deg) translateZ(350px);
		}

		.skills-carousel figure:nth-child(7) {
			transform: rotateY(196.2deg) translateZ(350px);
		}

		.skills-carousel figure:nth-child(8) {
			transform: rotateY(228.9deg) translateZ(350px);
		}

		.skills-carousel figure:nth-child(9) {
			transform: rotateY(261.6deg) translateZ(350px);
		}

		.skills-carousel figure:nth-child(10) {
			transform: rotateY(294.3deg) translateZ(350px);
		}

		.skills-carousel figure:nth-child(11) {
			transform: rotateY(327deg) translateZ(350px);
		}

.skills-slide {
	position: absolute;
	box-shadow: 0px 0px 5px 0px #757575;
	border-radius: 1px;
	background-color: #f2f2f2;
}

.skills-carousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
	padding: 5px;
	filter: grayscale(100%);
}

	.skills-carousel img:hover {
		transform: scale(1.2);
		filter: initial;
	}

.skills-logo {
	object-fit: contain;
}

@keyframes skills-animate {
	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(360deg);
	}
}


.titulo1 {
	width: 25px;
	word-wrap: break-word;
	text-align: center;
	position: fixed;
	left: 2vw;
	top: calc(100vh / 3);
	margin: 0;
	z-index: 999999;
}
.titulo2 {
	width: 25px;
	word-wrap: break-word;
	text-align: center;
	position: fixed;
	right: 2vw;
	top: calc(100vh / 2.5);
	z-index: 999999;
}
